body {
    background: #ffcc18 url("../images/ns_background.png") repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    height: 100%;
    width: 100%;
}

.intro-text {
    font-family: NSSANBOL;
    height: 123px;
    object-fit: contain;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.71;
    letter-spacing: 2px;
    text-align: center;
    color: #000066;
}

@font-face {
  font-family: NSSANBOL;
  src: url("../fonts/NSSANBOL.TTF") format("opentype");
}

.ns-logo-nb {
    display: block;
    margin: 0 auto;
    margin-top: 11%;
    margin-bottom: 6.9%;
}

input[type=submit] {
    width: 75%;
    background-color: #7EB2EF;
    color: white;
    padding: 14px 20px;
    margin: 20px 12.5% 0 12.5%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.tilted-container {
    background-image: url("../images/Blue_Slope.png");
    height: 210px;
    position: absolute;
    width: 100%;
    bottom: -66px;
    left: 0px;
    margin-top: 34px;
  }

  .left-polaroid {
    position: absolute;
    bottom: 150px;
    z-index: 10;
  }

  .right-polaroid {
    position: absolute;
    right: 0;
    bottom: 150px;
    z-index: 10;
  }