body {
    background: url("./assets/images/ns_background.png") repeat center;
    background-color: #ffcc18;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    height: 100%;
    width: 100%;
}

.main-container {
    height: 100%;
    width: 100%;

}
.login-header > img {
    // overflow: hidden;
    width: 100%;
}