body {
  background: #ffcc18 url("../images/ns_background.png") repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  height: 100%;
  width: 100%; }

.results-message {
  margin-top: 50%; }

.results-text {
  font-family: NSSANBOL;
  height: 123px;
  object-fit: contain;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.71;
  letter-spacing: 2px;
  text-align: center;
  color: #000066; }

@font-face {
  font-family: NSSANBOL;
  src: url("../fonts/NSSANBOL.TTF") format("opentype"); }

.ns-logo-nb {
  display: block;
  margin: 0 auto;
  margin-top: 11%;
  margin-bottom: 6.9%; }
