body {
  background: url("./assets/images/ns_background.png") repeat center;
  background-color: #ffcc18;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0; }

.login-header {
  background: url("./assets/images/header.png") no-repeat center;
  height: 365px;
  width: 414px; }
